{% extends 'base.html.twig' %}

{% block title %}Contract {{ sale.saleId }}{% endblock %}

{% block body %}
<div class="d-flex justify-content-between mb-3">
    <h1>Contract {{ sale.saleId }}</h1>
    <div>
        <a href="{{ path('app_sale_edit', {saleId: sale.saleId}) }}" class="btn btn-outline-primary">Edit</a>
        <a href="{{ path('app_transaction_index', {saleId: sale.saleId}) }}" class="btn btn-outline-secondary">Transactions</a>
    </div>
</div>

<dl class="row">
    <dt class="col-sm-2">Customer</dt><dd class="col-sm-10"><a href="{{ path('app_customer_show', {stateId: sale.customer.stateId}) }}">{{ sale.customer.fullName }}</a></dd>
    <dt class="col-sm-2">Type</dt><dd class="col-sm-10">{{ sale.insuranceType ? sale.insuranceType.value : '-' }}</dd>
    <dt class="col-sm-2">Coverage</dt><dd class="col-sm-10">{{ sale.coverageType }}</dd>
    <dt class="col-sm-2">Status</dt><dd class="col-sm-10">{{ sale.status ? sale.status.value : '-' }}</dd>
    <dt class="col-sm-2">Period</dt><dd class="col-sm-10">{{ sale.startDate ? sale.startDate|date('Y-m-d') : '-' }} → {{ sale.endDate ? sale.endDate|date('Y-m-d') : '-' }}</dd>
    <dt class="col-sm-2">Balance</dt><dd class="col-sm-10">{{ sale.currentBalance|number_format(2) }} €</dd>
</dl>
{% endblock %}
